.tabs
  .tabs_item{class: "#{add_active_class('/')}"}
    = link_to root_path do
      = t 'index.new_articles'
  .tabs_item{class: "#{add_active_class('/timeline')}"}
    = link_to timeline_path do
      = t 'index.timeline'
